/*全局格式化样式*/

body,
/*日历*/

.hdjr_tip{

}

.top-month-box{
	display: flex;
	height: 0.8rem;
	width: 100%;
}
.month-box-item{
	flex: 1;
	height: 0.8rem;
	line-height: 0.8rem;
	font-family: 'PingFangSC-Regular';
	font-size: 0.28rem;
	color: #909399;
	text-align: center;
	position: relative;
	box-shadow: 0 1px 0 0 #E7E7E7;
}
.month-box-item:after{
	opacity: 0;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(-90deg, #C3CA00 0%, #8BC700 100%);
	border-radius: 0.04rem;
	width: 0.5rem;
	height: 0.06rem;
	margin: 50% auto 0;
	transition: 0.8s;
}
.top-month-box .active{
	font-family: 'PingFangSC-Semibold';
	font-size: 0.28rem;
	color: #303133;
}
.top-month-box .active:after{
	opacity: 1;
}